body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  display: inline-block;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.item {
  flex-grow: 1;
}

.phone-bezel {
  position: relative;
  display: block;
  margin: auto;
  border-radius: 50px;
  background-color: aquamarine;
  height: 680px;
  width: 340px;
}

.phone-cutout {
  position: absolute;
  margin: 0% 25%;
  border-radius: 0% 0% 5% 5% / 0% 0% 50% 50%;
  height: 3%;
  width: 50%;
  background-color: aquamarine;
  z-index: 1000;
}

.phone-content {
  position: absolute;
  margin: 3% 5%;
  width: 90%;
  height: 94%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.phone-screen {
  position: absolute;
  border-radius: 40px;
  background-color: azure;
  margin: 5% 5% 5% 5%;
  height: 95%;
  width: 90%;
}

/* mock browser */
.browser-container {
  position: relative;
  display: block;
  margin: 10px auto;
  border-radius: 5px;
  border: 1px solid rgb(175, 175, 175);
  background-color: #ffffff;
  height: 300px;
  width: 400px;
}

.browser-header {
  position: absolute;
  display: flex;
  border-radius: 5px 5px 0px 0px;
  height: 20px;
  width: 100%;
  background-color: #DEE0E5;
  z-index: 1000;
}

.dot {
  position: relative;
  width: 8px;
  height: 8px;
  left: 6px;
  top: 6px;
  border-radius: 50%;
  margin: 0px 2px 0px;
}

#red-dot {
  background-color: #DB615A;
}

#yellow-dot {
  background-color: #EDC041;
}

#green-dot {
  background-color: #7DCE50;
}

.browser-content {
  position: absolute;
  margin: 3% 5%;
  height: 94%;
  width: 92%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  text-align: left;
}
